
header nav ul{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li{
    cursor: pointer;
}

header nav ul li:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
}

.col-id{
    width: 50px;
}
.col-precio, .col-stock{
    width: 150px;
    text-align: right;
}
.precio, .stock{
    font-weight: bold;
    text-align: right;
}

footer{
    position: relative;
    bottom: 0;
    left: 5px;
}